.webring {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.webring a {
  display: inline-block;
  box-sizing: content-box;
  width: 88px;
  height: 31px;
  border: 1px solid black;
  background-color: #333333;
  margin: 0 15px 15px;
}

.webring a img {
  width: 88px;
  height: 31px;
  font-size: 0;
}
