:root {
    --color-entry-title: rgb(224, 221, 59);
    --color-entry-date: #ffffff;
    --color-entry-desc: #ffffff;
}

.write-ups {
    margin: 10px auto;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.write-up-link {
    text-decoration: none;
}

.write-up-btn {
    width: 100%;
    height: 100%;
    border: 3px solid green;
    border-radius: 0.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;

    background-color: black;
}

.write-up-title {
    color: var(--color-entry-title);
    text-overflow: clip;
}

.write-up-date {
    text-overflow: ellipsis;
}

@media screen and (max-width: 480px) {

    .write-ups {
        flex-flow: column nowrap;
    }

    .write-up {
        width: 90%;
        height: 10vh;
        margin: 1% 0;
    }

    .write-up-btn {
        flex-flow: row nowrap;
    }

    .write-up-title {
        width: 70%;
        padding-left: 5%;
        text-align: left;
        font-size: 5vw;
    }

    .write-up-img {
        display: none;
    }

    .write-up-date {
        width: 30%;
        text-align: center;
        font-size: 4vw;
    }

}

@media screen and (min-width: 481px) {

    .write-ups {
        flex-flow: row wrap;
    }

    .write-up {
        min-width: 155px;
        width: 15vw;
        min-height: 155px;
        height: 15vw;    
        padding: 2px;
        margin: 1% 1%;
    }

    .write-up-btn {
        flex-flow: column nowrap;
    }

    .write-up-title {
        width: 100%;
        height: 15%;
        text-align: center;
        font-size: 1.9vw;
    }

    .write-up-img {
        max-width: 80%;
        max-height: 70%;
        border-radius: 4px;
        margin: auto;
    }

    .write-up-date {
        width: 100%;
        height: 10%;
        text-align: center;
        font-size: 1.2vw;
    }

}