{% set  meta = {
        'description': "Comunidad de informática orientada a estudiantes y principiantes."
    }
-%}

<meta charset="UTF-8">
<meta name="description" content="{{ meta.description }}">

<!-- OpenGraph -->
<meta property="og:title" content="Informaticapau">
<meta property="og:description" content="{{ meta.description }}">
<meta property="og:image" content="https://informaticapau.com/static/img/ipau/logo_cuadrado.png">

<meta name="viewport" content="width=device-width, initial-scale=1.0">