{% extends "layout.html" %}

{% block head %}{% include "includes/head.html" %}{% endblock head %}

{% block content -%}

<main>
    <h1 id="webrings">Web Rings</h1>
    <article>
        <section>
        {%- for webring in webrings %}
            <h2 >{{ webring['name'] }}</h2>
            <div class="webring">

            {%- if webring['name'] == 'Comunidad' %}
                <a href="https://www.informaticapau.com">
                    <img src="/{{ blueprint }}/static/img/88x31.gif" alt="Link to Informaticapau">
                </a>
            {% endif -%}

            {% for badge in webring['badges'] %}
                <a target="_blank" href="{{ badge['url']}}">
                    <img src="{{ badge['badge'] }}" alt="Link to {{ badge['name'] }}" onerror="">
                </a>
            {% endfor -%}
            </div>
        {% endfor -%}
        </section>
    </article>
</main>

{%- endblock content %}